# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment variables & secrets
.env
indexer/.env
backend/.env

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


#idea
idea.txt
